
.staff-holder{
  .MuiGrid-root.MuiGrid-item{
    margin: 0px 0px 10px 0px;
  }
  .MuiTableContainer-root{
    box-shadow: none !important;
    .MuiTable-root{
      // width: calc(100% - 30px);
      // min-width: calc(100% - 30px);
      margin: auto;
      .MuiTableHead-root{
        background: var(--neutrallightGray);
        .MuiTableCell-head{
          font-size: 14px;
          font-family: 'Roboto';
          font-weight: 700;
          color: var(--nightGray);
          @media (min-width: 1660px){
            font-size:16px;
          }
        }
      }
      .MuiTableCell-body{
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        color: var(--nightGray);
        padding: 9px 16px;
        @media (min-width: 1660px){
          font-size:16px;
        }

        a{
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          @media (min-width: 1660px){
            font-size:16px;
          }
          &.edit-color{
            color: var(--blue);
          }
          &.delete-color{
            color: var(--error);
          }
        }
        .cenerLine{
          color: #8A8A8A;
          display: inline-block;
          margin: 0px 8px;
        }
      }
    }
  }
  .grid-item{
    margin-bottom: 16px;
  }
}
  .mobile-parent-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .mobile-div{
      width:120px;
      margin-right: 12px;
    }
  }
  .role-div{
    width: 234px;
  }
  .heading30{
    font-size: 24px;
    font-weight: 700;
    @media (min-width: 1660px){
      font-size:30px;
    }
    .icon60{
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
