.recommended-holder{
  .heading4medium{
    margin-bottom: 10px;
  }
  .body{
    line-height: 20px;
    margin-bottom: 4px;
    max-width: 550px;
    @media(min-width:1660px){
      line-height: 24px;
      max-width: 730px;
    }
  }
  .heading30{
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    margin: 0px;
    @media(min-width:1660px){
      font-size: 40px;
    }
    .icon60{
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 10px;
      vertical-align: middle;
      @media(min-width:1660px){
        width: 60px;
        height: 60px;
      }
    }
  }

  .whiteBoxRecom{
    padding: 20px;
    border: 1px solid var(--gray80);
    background: var(--white);
    border-radius: 5px;
    margin: 35px 0px;
    box-sizing: border-box;
    width: 1000px;
    @media(min-width:1660px){
        padding: 30px;
        margin: 50px 0px;
        width: 1310px;
    }
    .fiveWhiteBox{
      background-color: var(--white);
      padding: 16px 10px 16px 10px;
      box-shadow: 1px 1px 5px 0px #00000080;
      border-radius: 5px;
      width: 150px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      margin-top: 20px;
      &:last-child{
        margin-right: 0px;
      }
      @media(min-width:1660px){
        padding: 20px 14px 18px 14px;
        width: 197px;
        margin-right: 30px;
        margin-top: 30px;
      }
      .roundImg{
        width: 85px;
        height: 85px;
        object-fit: cover;
        border-radius: 50%;
        border:1px solid #CFCFCF;
        @media(min-width:1660px){
          width: 117px;
          height: 117px;
        }
      }
      .body{
        text-align: center;
        margin: 8px 0px 12px 0px;
      }
      .tertiarybutton,.primarybutton,.lightgreenbutton{
        height: 36px;
        margin-bottom: 6px;
        width: 100%;
        padding: 8px 12px;
        @media(min-width:1660px){
          margin-bottom: 8px;
          height: 44px !important;
          font-size: 16px;
        }
      }
      .lightgreenbutton{
        background-color: rgba(116, 183, 17, 0.15);
        color: var(--success);
        font-size: 14px;
        text-transform: capitalize;
        .icon24{
          width: 20px;
          height: 20px;
          object-fit: contain;
          vertical-align: middle;
          margin-right: 6px;
          @media(min-width:1660px){
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
