
.grayBox{
  min-height: calc(100vh - 286px);
  @media (min-width: 1660px){
    min-height: calc(100vh - 520px);
  }
}

.heading2bold{
  @media(max-width: 767px){
    font-size: 28px;
  }
}

.heading3bold{
  @media(min-width: 1660px){
    font-size: 30px !important;
  }
}

.heading4medium{
  @media(min-width: 1660px){
    font-size: 24px !important;
  }
}

.heading5medium{
  @media(min-width: 1660px){
    font-size: 22px !important;
  }
}

.heading6medium{
  @media(min-width: 1660px){
    font-size: 20px !important;
  }
}

.primarybutton,.neutrallightbutton,.transparentbutton{
  @media (min-width: 1660px){
    height: 54px !important;
    font-size: 16px !important;
  }
}

.inputlabel{
  @media (min-width: 1660px){
    font-size: 18px !important;
  }
}

.body{
  @media (min-width: 1660px){
    font-size: 18px !important;
  }
}

.textfield{
  @media (min-width: 1660px){
    height: 50px;
    font-size: 16px !important;
  }
}

.inputerror,.small{
  @media (min-width: 1660px){
    font-size: 14px !important;
  }
}

.unvisibleicon,.visibleicon{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  @media (min-width: 1660px){
    top: 13px !important;
  }
}

.visibleicon,.unvisibleicon{
  width: 20px;
  height: 20px;
  object-fit: contain;
  @media (min-width: 1660px){
    width: 24px !important;
    height: 24px !important;
  }
}
